.page-header {
    color: $header-heading-color;
    text-align: center;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, #f30404, #fff);
}

@import "{{ site.theme }}";