remote_theme: jekyll-TeXt-theme
title: Genders and genres
description: The Vaneau team data story
show_downloads: False
navigation:
  - title: Home
    url: /
  - title: Example
    url: example

## => Site Settings
##############################
text_skin: default # "default" (default), "dark", "forest", "ocean", "chocolate", "orange"
highlight_theme: default # "default" (default), "tomorrow", "tomorrow-night", "tomorrow-night-eighties", "tomorrow-night-blue", "tomorrow-night-bright"



## => Language and Timezone
##############################
lang: en # the language of your site, default as "en"
timezone: CET # see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the available values


## => Author and Social
##############################
author:
  type      : organization # "person" (default), "organization"
  name      : Vaneau


## => GitHub Repository (if the site is hosted by GitHub)
##############################
repository: epfl-ada/ada-2023-project-vaneau
repository_tree: main


## => Post
##############################
## excerpt
excerpt_separator: <!--more-->

## license
license: CC-BY-NC-4.0 # "CC-BY-4.0", "CC-BY-SA-4.0", "CC-BY-NC-4.0", "CC-BY-ND-4.0"



## => Markdown Enhancements
##############################
## Mathjax
mathjax: false # false (default), true
mathjax_autoNumber: false # false (default), true

## Mermaid
mermaid: false # false (default), true

## Chart
chart: false # false (default), true


## => Paginate
##############################
paginate: 8
paginate_path: /page:num # don't change this unless for special need




## => Pageview
##############################
pageview:
  provider: false # false (default), "leancloud", "custom"

  ## Leancloud
  leancloud:
    app_id    : # LeanCloud App id
    app_key   : # LeanCloud App key
    app_class : # LeanCloud App class


## => Search
##############################
search:
  provider: default # "default" (default), false, "google", "custom"

  ## Google Custom Search Engine
  google:
    custom_search_engine_id: # Google Custom Search Engine ID



## => Build
##############################
markdown    : kramdown
highlighter : rouge
permalink   : date

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: article
      sharing: true
      license: true
      aside:
        toc: true
      show_edit_on_github: false
      show_subscribe: false
      pageview: true


## => Plugins
##############################
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji
